@tailwind base;
@tailwind components;
@tailwind utilities;

.display-none {
    @apply hidden
}

@layer base {
    :root {
        --color-primary: #edf2fc;
        --color-secondary: #212121;
        --color-accent: #F4F4F4;
        --color-info: #068CCC;
        --color-success: #068CCC;
        --color-dark: #1D1D1D;

    }
}